#__main-wrapper {
    display: grid;
    grid-template-areas: 
        "mapa"
        "search"
        "display"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;

    justify-content: center;
    justify-items: center;
}

.mapArea {
    grid-area: mapa;
}

.searchArea {
    grid-area: search;
}

.displayArea {
    grid-area: display;
    grid-row-start: 2;
    grid-row-end: 3;
}
