/* #__main-wrapper {
   display: grid;
    grid-template-areas: 
        "mapa"
        "search"
        "display"
    ;
    grid-template-columns: 1fr;
     grid-template-rows: 3fr; 
    justify-content: center;
    justify-items: center;
}

.mapArea {
    grid-area: mapa;
}

.searchArea {
    grid-area: search;
}

.displayArea {
    grid-area: display;
    grid-row-start: 2;
    grid-row-end: 3;
}
*/
#__main-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.mapa{
    position: absolute;
    z-index: -1;
}
/* Desktop */
@media screen and (min-width: 1025px){
    .mapa {
        display: grid;
        width: 50%; 
        height: 100vh;
        margin: auto;
    }
    .__search-input{
        min-width: 50%;
    }
    .__search-form{
        width: 50%;
    }
}